argcomplete==1.9.3
attrs==19.3.0
boto3==1.9.81
botocore==1.12.81
certifi==2018.11.29
cfn-flip==1.1.0.post1
chardet==3.0.4
Click==7.0
git+https://github.com/dag-hammarskjold-library/dlx
docutils==0.14
durationpy==0.5
Flask==1.0.2
future==0.16.0
hjson==3.0.1
idna==2.8
importlib-metadata==0.23
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.3
jsonschema==3.2.0
kappa==0.6.0
lambda-packages==0.20.0
MarkupSafe==1.1.0
mongoengine==0.18.2
mongomock==3.18.0
more-itertools==7.2.0
placebo==0.8.2
pymongo==3.7.2
pyrsistent==0.15.6
python-dateutil==2.6.1
python-slugify==1.2.4
PyYAML==5.1.2
requests==2.21.0
s3transfer==0.1.13
sentinels==1.0.0
six==1.12.0
toml==0.10.0
tqdm==4.19.1
troposphere==2.4.1
Unidecode==1.0.23
urllib3==1.24.2
Werkzeug==0.15.3
wsgi-request-logger==0.4.6
xlrd==1.2.0
zappa==0.49.0
zipp==0.6.0
